@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/*- 기본 스타일링 리셋 -*/
* {
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
article {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*-----*/

/*----- 헤더 -----*/
/*- gnb -*/
#gnb {
  background-color: #614f9b;
  padding: 0 2rem;
}

#gnb > ul {
  display: flex;
  font-size: 0.8rem;
  height: 2rem;
  align-items: center;
}

#gnb a {
  color: white;
  padding: 0 0.5rem;
}

/*- 메인 메뉴 네비게이션바 -*/
#main-navi,
#main-navi > .menu,
#main-navi > .menu li,
#main-navi > .icons {
  display: flex;
  align-items: center;
}

#main-navi {
  background-color: #f7f7f7;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  height: 5rem;
}

.menu {
  height: 100%;
  padding: 0 1rem;
}

#main-navi > .menu a {
  color: rgb(57, 57, 57);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}

#main-navi > .menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-box {
  display: flex;
  width: 100px;
}

.logo-box img {
  width: 100px;
}

.icons {
  margin-left: auto;
  display: flex;
}

#search-input {
  background-color: rgb(216, 214, 223);
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem 0.5rem 2.8rem;
  outline: none;
  width: 200px;
  margin-right: 1rem;
}

#mypage {
  font-size: 1.3rem;
}

.icons > button {
  font-size: 1.2rem;
  display: flex;
  padding: 0.5rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
}

.icons > #search {
  margin: -2.5rem;
  z-index: 10;
  font-size: 1rem;
}

.icons > #search:hover {
  background-color: transparent;
}

.icons > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*-----슬라이더-----*/

#visual-banner {
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
}
/*- 움직이게 되는 컨테이너 -*/
.slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-content {
  width: 1024px;
  margin: 5rem 2rem;
}

/*- pager -*/
#pager {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 2rem;
}

#pager > span {
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
  margin: 0.5rem;
  background-color: white;
}

#pager > span.active {
  background-color: rgb(70, 48, 144);
  width: 3rem;
}

/*- 슬라이더 개별 스타일링 -*/
#slide1 {
  background-image: url('../images/visual-main.jpg');
}
#slide1 > .slide-content {
  font-family: 'MapoGoldenPier';
  text-align: right;
  font-size: 2rem;
}
#slide1 .point-text {
  color: rgb(70, 48, 144);
}

/*- pager-btn -*/
#prev-btn,
#next-btn {
  display: flex;
  position: absolute;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.238);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.2s;
}

#prev-btn:active,
#next-btn:active {
  background-color: rgba(255, 255, 255, 0.442);
}

#visual-banner:hover #prev-btn,
#visual-banner:hover #next-btn {
  transform: scale(1.2);
}

#next-btn {
  right: 0;
}

/*----- about us -----*/

#about-us {
  padding: 5rem;
  font-family: 'Nanum Myeongjo', serif;
}

.about-us-container {
  display: flex;
  justify-content: center;
}

.about-us-container > img {
  width: 400px;
  margin-right: 1rem;
}

.about-us-container > p {
  display: flex;
  align-items: center;
}
/*----- 세일중인 상품들 -----*/

#sale-product {
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 5rem 0;
}

.section-title {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 1000;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: #2e2747;
}

.sale-info {
  font-weight: bold;
  margin-right: 5rem;
}

.sale-percent {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #614f9b;
  margin-bottom: 3rem;
}

#sale-btn {
  display: flex;
  width: max-content;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  color: white;
  padding: 1rem 2rem;
  background-color: #aa9d8b;
  border-radius: 4px;
  transition: 0.1s;
}

#sale-btn:hover {
  background-color: #877861;
}

/*--- 세일상품 틀, 이미지  ---*/
.product-container {
  display: flex;
  align-items: center;
}

/*- 미니 슬라이더 틀 -*/
.sale-item-container {
  display: flex;
  position: relative;
  border: 1px solid red;
  width: 663px;
  overflow: hidden;
}

/*- 미니 슬라이더 -*/
.sale-item-container > #mini-slide {
  display: flex;
  position: relative;
  left: 0;
}

.sale-item-box {
  position: relative;
  background-color: white;
}

.sale-item-box:not(:last-child) {
  margin-right: 1rem;
}

.sale-item-box > img {
  display: flex;
  width: 210px;
  height: 212px;
  object-fit: cover;
}

/*--- 세일상품정보 ---*/

.sale-item-container .info-container {
  padding: 1rem;
}

.sale-item-container .item-title {
  color: rgb(57, 57, 57);
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 1000;
}

.sale-item-container .item-info {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #aa9d8b;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
}

.before-price,
.price {
  display: inline-block;
  font-size: 1rem;
  font-weight: 1000;
}

.before-price {
  text-decoration: line-through;
  color: #898989;
}

.price {
  color: #614f9b;
}

/*- 필터 -*/
/* 
.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.2s;
} */

#sale-product {
  background-color: #f7f7f7;
}

#sale-container {
  width: 1024px;
  display: grid;
  gap: 25px;
  grid-template-rows: 324px 324px;
  grid-template-columns: 324px 324px 324px;
  grid-auto-flow: dense;
  margin-top: 20px;
}

#sale-container > .sale-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

#sale-container > .sale-item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

#sale-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----패키지-----*/
#package-product {
  background-color: #ebe7df;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#package-product > .section-sub-title {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'MapoGoldenPier';
  /* font-weight: normal; */
}

#package-container {
  display: flex;
  width: 1024px;
}

.package-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f7f7f7;
  transition: 0.2s;
}

.package-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.package-item:first-child {
  margin-right: 25px;
}

.package-item > img {
  width: 100%;
}

.package-info {
  padding: 15px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}

.package-info > .info-title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: black;
}

.package-info > .info-sub {
  color: #aa9d8b;
  font-weight: lighter;
  font-size: 0.9rem;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 5px;
}

/*-----인기상품-----*/

#best-product {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f7f7;
}

#best-container {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-item {
  width: 237.4px;
  margin-bottom: 25px;
  color: #f7f7f7;
  position: relative;
}

.best-info {
  text-align: center;
  padding: 15px;
  font-family: 'Nanum Myeongjo', serif;
}

.best-info > .info-title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
}

.best-item > img {
  width: 100%;
}

.best-item > .filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
}

.best-item > .filter:hover {
  opacity: 1;
}

/*----푸터-----*/

footer {
  background-color: #4a4542;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

footer > #footer-container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.footer-item > .footer-title {
  font-size: 1rem;
}

.footer-item > .footer-info {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 1rem;
}
