@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/*- 기본 스타일링 리셋 -*/
* {
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
article {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*-----*/

/*----- 헤더 -----*/
/*- gnb -*/
#gnb {
  background-color: #614f9b;
  padding: 0 2rem;
}

#gnb > ul {
  display: flex;
  font-size: 0.8rem;
  height: 2rem;
  align-items: center;
}

#gnb button {
  color: white;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}

/*- 메인 메뉴 네비게이션바 -*/
#main-navi,
#main-navi > #menu,
#main-navi > #menu li,
#main-navi > #icons {
  display: flex;
  align-items: center;
}

#main-navi {
  background-color: #f7f7f7;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  /* height: 5rem; */
}

#menu {
  height: 100%;
  padding: 0 1rem;
}

#main-navi > #menu a {
  color: rgb(57, 57, 57);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}

#main-navi > #menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navi-hd {
  display: flex;
  width: 100px;
  position: relative;
}

.navi-hd img {
  width: 100px;
}

.icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#search-input {
  background-color: rgb(216, 214, 223);
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem 0.5rem 2.8rem;
  outline: none;
  width: 200px;
  margin-right: 1rem;
}

#mypage {
  font-size: 1.3rem;
}

.icons > button {
  font-size: 1.2rem;
  display: flex;
  padding: 0.5rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
}

.icons > #search {
  margin-right: -2.5rem;
  z-index: 10;
  font-size: 1rem;
}

.icons > #search:hover {
  background-color: transparent;
}

.icons > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*햄버거버튼*/

#hamburger-btn {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.ham-in {
  display: none;
}

.ham-out {
  display: flex;
}

/*-----슬라이더-----*/

#visual-banner {
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
  overflow: hidden;
}
/*- 움직이게 되는 컨테이너 -*/
#slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
}

.slide-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-content {
  width: 1024px;
  margin: 5rem 2rem;
}

/*- pager -*/
#pager {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 2rem;
}

#pager > span {
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
  margin: 0.5rem;
  background-color: white;
  transition: 0.5s;
}

#pager > span.active {
  background-color: rgb(70, 48, 144);
  width: 3rem;
}

/*- 슬라이더 개별 스타일링 -*/
/*-slide1-*/
#slide1 {
  background-image: url('../images/visual-main.jpg');
}
#slide1 > .slide-content {
  font-family: 'MapoGoldenPier';
  text-align: right;
  font-size: 2rem;
}
#slide1 .point-text {
  color: rgb(70, 48, 144);
}

/*-slide2-*/
#slide2 {
  background-image: url('../images/visual-main2.jpg');
}

/*-slide3-*/
#slide3 {
  background-image: url('../images/visual-main.jpg');
}

/*- pager-btn -*/
#prev-btn,
#next-btn {
  display: flex;
  position: absolute;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.238);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.2s;
}

#prev-btn:active,
#next-btn:active {
  background-color: rgba(255, 255, 255, 0.442);
}

#visual-banner:hover #prev-btn,
#visual-banner:hover #next-btn {
  transform: scale(1.2);
}

#next-btn {
  right: 0;
}

/*----- 세일중인 상품들 -----*/

#sale-product {
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 8rem 0;
}

.section-title-container {
  padding-bottom: 2.5rem;
  text-align: center;
}

.section-title {
  font-size: 1.8rem;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 1000;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #353535;
  margin-bottom: 0.5rem;
}

.section-sub-title {
  font-size: 1rem;
  text-align: center;
  font-family: 'MapoGoldenPier';
  color: rgb(92, 92, 92);
  font-weight: bold;
}

/*--- 세일상품정보 ---*/

.before-price,
.price {
  display: inline-block;
  font-size: 1rem;
  font-weight: 1000;
}

.before-price {
  text-decoration: line-through;
  color: #898989;
}

.price {
  color: #614f9b;
  color: #a17723;
}

#sale-product {
  background-color: #f7f7f7;
}

#sale-container {
  width: 1000px;
  display: grid;
  gap: 25px;
  grid-template-rows: 316px 316px;
  grid-template-columns: 316px 316px 316px;
  grid-auto-flow: dense;
  margin-top: 20px;
}

#sale-container > .sale-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

#sale-container > .sale-item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.sale-item {
  position: relative;
  overflow: hidden;
  transform: translateY(-5rem);
  opacity: 0;
  transition: 1s;
}

.sale-item.active {
  transform: translateY(0rem);
  opacity: 1;
  transition: 1s;
}

.sale-item .filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: 1s;
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}

.sale-item-info-container {
  transform: translateX(-100%);
  transition: 0.5s;
}

.sale-item .filter .sale-item-title {
  margin-bottom: 0.5rem;
}

.sale-item .filter .sale-item-info {
  font-weight: lighter;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.sale-item:nth-child(2) .filter {
}

.sale-item-btn {
  cursor: pointer;
  padding: 0.5rem 1rem 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  outline: none;
  color: white;
  transition: 0.2s;
}

.sale-item-btn:hover {
  background-color: #614f9b;
  border: 1px solid #614f9b;
  color: white;
}

.sale-item:hover .filter {
  opacity: 1;
}

.sale-item:hover .sale-item-info-container {
  transform: translateY(0%);
}

#sale-container > .sale-item:hover img {
  transform: scale(1.2);
}

#sale-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/*-----패키지-----*/
#package-product {
  background-color: #ebe7df;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#package-container {
  display: flex;
  width: 1000px;
}

.package-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f7f7f7;
  transition: 0.2s;

  transform: translateY(-5rem);
  opacity: 0;
  transition: 1s;
}
.package-item.active {
  transform: translateY(0rem);
  opacity: 1;
  transition: 1s;
}

.package-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.package-item:first-child {
  margin-right: 25px;
}

.package-item > img {
  width: 100%;
}

.package-info {
  padding: 15px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}

.package-info .info-title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #353535;
  margin-right: 1rem;
}

.package-info > .info-sub {
  color: #aa9d8b;
  font-weight: lighter;
  font-size: 0.8rem;
  /* font-family: 'Nanum Gothic', sans-serif; */
  margin-bottom: 5px;
}

.title-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*-----인기상품-----*/

#best-product {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f7f7;
}

#best-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-item {
  display: flex;
  flex-direction: column;
  width: 231.25px;
  margin-bottom: 25px;
  color: #f7f7f7;
  position: relative;
  transform: translateY(-5rem);
  opacity: 0;
  transition: 1s;
}

.best-item.active {
  transform: translateY(0rem);
  opacity: 1;
  transition: 1s;
}

.shopping-icons {
  display: flex;
  position: absolute;
  color: #353535;
  width: 100%;
  left: 0;
  top: 80%;
  justify-content: space-between;
  background-color: #f7f7f7;
  z-index: 10;
  transition: 0.5s;
}

.best-item:hover .shopping-icons {
  top: 67.5%;
}

.shopping-icons > button {
  background-color: #f7f7f7;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50%;
  justify-content: center;
}

.remove-cart,
.add-cart,
.add-wish,
.remove-wish {
  display: none;
  font-size: 1.2rem;
}

.add-cart.active,
.remove-cart.active,
.add-wish.active,
.remove-wish.active {
  display: flex;
}

.best-info {
  position: relative;
  text-align: center;
  padding: 15px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #f7f7f7;
  z-index: 20;
}

.best-info > .info-title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bset-item .img-box {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.best-item img {
  width: 100%;
  display: flex;
}

.best-item .sale-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  left: 0.5rem;
  letter-spacing: 0.1rem;
  margin-left: 0.1rem;
  background-color: #614f9b;
  z-index: 10;
}

.best-item > .filter:hover {
  opacity: 1;
}

/*----푸터-----*/

footer {
  background-color: #4a4542;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

footer > #footer-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.footer-item > .footer-title {
  font-size: 1rem;
}

.footer-item > .footer-info {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 1rem;
}

#top-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #614f9b;
  color: white;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  opacity: 0;
  transform: scale(0);
}

#top-btn.showed {
  opacity: 1;
  transform: scale(1);
}

#top-btn:hover {
  background-color: white;
  color: #614f9b;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

/*-----모달-----*/

#modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

#modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.modal-item {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  padding: 2.5rem;
  background-color: #f7f7f7;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1rem;
  width: 400px;
  border-radius: 10px;
  opacity: 0;
}

#modal-container.showing {
  z-index: 1;
}

#modal-container.showing .modal-item {
  opacity: 1;
}

#modal-container.showing #modal-overlay {
  opacity: 1;
}

.modal-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.modal-content input {
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #f7f7f7;
  font-family: 'Nanum Myeongjo', serif;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content-title {
  margin-bottom: 15px;
}

.modal-content .input-box:not(:last-child) {
  margin-bottom: 15px;
}

.input-sub-box {
  display: flex;
}

.input-sub-box > a {
  display: flex;
  font-size: 0.75rem;
  text-decoration: underline;
  margin: 15px 0;
  color: #2b61a0;
}

.modal-btn {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-login-btn {
  background-color: #614f9b;
  color: white;
}

#modal-join-btn {
  background-color: transparent;
  border: 1px solid #707070;
  color: #2b2b2b;
}

.border-1px {
  border-top: 1px solid #707070;
}

.input-or-box {
  position: relative;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-or-box .border-1px {
  border-top: 1px solid #e4e4e4;
}

.input-or-box > .or {
  background-color: #f7f7f7;
  color: #2b2b2b;
  padding: 5px 10px;
  padding-top: -22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*-------------------------------------------------------------------------*/
/*-----반응형------*/
/*1024px*/
@media (max-width: 1024px) {
  #search-input {
    display: none;
  }

  .icons > #search {
    margin: 0;
    font-size: 1.1rem;
  }

  #visual-banner {
    height: 500px;
  }

  #package-container,
  #sale-container,
  #best-container {
    width: 740px;
  }

  #sale-container {
    grid-template-rows: 230px 230px;
    grid-template-columns: 230px 230px 230px;
  }

  #sale-container > .sale-item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #sale-container > .sale-item:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .best-item {
    width: 166.25px;
  }

  .shopping-icons {
    top: 70%;
  }

  .best-item:hover .shopping-icons {
    top: 57%;
  }
  #footer-container {
    max-width: 740px;
  }
}

/*768px 모바일*/
@media (max-width: 768px) {
  #gnb {
    display: none;
  }

  #hamburger-btn {
    display: flex;
  }

  .navi-hd {
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: fixed;
  }

  #main-navi {
    flex-direction: column;
    z-index: 1000;
    width: 100%;
    padding: 0;
    position: fixed;
  }

  #main-navi > #menu {
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    padding: 0.5rem 0 2rem 0;
    width: 100%;
    height: max-content;
    background-color: #f7f7f7;
    padding-top: 1rem;
    z-index: -1;
    transform: translateY(-100%);
    transition: 1s;
  }

  #main-navi > #menu.active {
    transform: translateY(0%);
  }

  #menu > li {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  #menu > li > button {
    width: 100%;
    padding: 0;
  }

  .icons {
    z-index: 1000;
    bottom: 0;
    position: absolute;
    margin: 0.5rem 0;
  }
  .ham-in {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .ham-out {
    display: none;
  }

  .icons > button {
    margin-left: 1rem;
  }

  .icons > #search:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #visual-banner {
    height: 500px;
  }

  #package-container,
  #sale-container,
  #best-container {
    width: 100%;
    padding: 0 25px;
  }

  #sale-container {
    grid-template-rows: 133.3px;
    grid-template-columns: 0;
  }

  #sale-container > .sale-item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #sale-container > .sale-item:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #sale-container > .sale-item:nth-child(3) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #sale-container > .sale-item:nth-child(4) {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #package-container {
    flex-direction: column;
  }

  #package-container > .package-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .best-item {
    width: 47.75%;
    height: auto;
  }

  .best-item .img-box {
  }

  #footer-container {
    max-width: 450px;
    flex-direction: column;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .shopping-icons {
    position: static;
  }

  footer > #footer-container {
    max-width: 100%;
    padding: 2.5rem 25px;
    flex-direction: column;
  }
}

/*모바일 s*/
@media (max-width: 490px) {
  .best-item {
    width: 100%;
  }
}
