@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;900&display=swap');

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/*- 기본 스타일링 리셋 -*/
* {
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*-----*/

/*----- 헤더 -----*/
/*- gnb -*/
#gnb {
  background-color: rgb(97, 79, 155);
  padding: 0 2rem;
}

#gnb > ul {
  display: flex;
  font-size: 0.8rem;
  height: 2rem;
  align-items: center;
}

#gnb a {
  color: white;
  padding: 0 0.5rem;
}

/*- 메인 메뉴 네비게이션바 -*/
#main-navi,
#main-navi > .menu,
#main-navi > .menu li,
#main-navi > .icons {
  display: flex;
  align-items: center;
}

#main-navi {
  background-color: rgb(243, 243, 243);
  font-size: 1.1rem;
  padding: 1rem 2rem;
  height: 5rem;
}

.menu {
  height: 100%;
  padding: 0 1rem;
}

#main-navi > .menu a {
  color: rgb(57, 57, 57);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}

#main-navi > .menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-box {
  display: flex;
  width: 100px;
}

.logo-box img {
  width: 100px;
}

.icons {
  margin-left: auto;
  display: flex;
}

#search-input {
  background-color: rgb(216, 214, 223);
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  outline: none;
  width: 200px;
  margin-right: 1rem;
}

#mypage {
  font-size: 1.3rem;
}

.icons > button {
  font-size: 1.2rem;
  display: flex;
  padding: 0.5rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
}

.icons > #search {
  margin: -2.5rem;
  z-index: 10;
  font-size: 1rem;
}

.icons > #search:hover {
  background-color: transparent;
}

.icons > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*-----슬라이더-----*/

#visual-banner {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 600px;
  position: relative;
}
/*- 움직이게 되는 컨테이너 -*/
.slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-content {
  width: 1024px;
  margin: 5rem 2rem;
}

/*- pager -*/
#pager {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 2rem;
}

#pager > span {
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
  margin: 0.5rem;
  background-color: white;
}

#pager > span.active {
  background-color: rgb(70, 48, 144);
  width: 3rem;
}

/*- 슬라이더 개별 스타일링 -*/
#slide1 {
  background-image: url('../images/visual-main.jpg');
}
#slide1 > .slide-content {
  font-family: 'MapoGoldenPier';
  text-align: right;
  font-size: 2rem;
}
#slide1 .point-text {
  color: rgb(70, 48, 144);
}

/*- pager-btn -*/
#prev-btn,
#next-btn {
  display: flex;
  position: absolute;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.238);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.2s;
}

#prev-btn:active,
#next-btn:active {
  background-color: rgba(255, 255, 255, 0.442);
}

#visual-banner:hover #prev-btn,
#visual-banner:hover #next-btn {
  transform: scale(1.2);
}

#next-btn {
  right: 0;
}
